<ion-content>
    <div class="intro-loader" text-center>
        <ion-spinner *ngIf="!isReady" class="loader"></ion-spinner>
        <button ion-button icon-right large (click)="startApp()" *ngIf="isReady" class="btn" color="danger">
        CONTINUE<ion-icon name="arrow-forward"></ion-icon>
      </button>
    </div>
    <ion-slides autoplay="3000" loop="true" speed="1000">
        <ion-slide *ngFor="let slide of slideData">
            <img id="img" src="assets/images/{{slide.image}}" />
        </ion-slide>
    </ion-slides>
</ion-content>