<ion-header>
  <ion-navbar color="danger" text-center>
    <ion-title>{{meal?.name}} Details</ion-title>
    <ion-buttons end>
      <button (click)="Close()" clear ion-button>
        Close
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <img [src]="meal?.image" class="mealImage" />
    <ion-card-content>
      <ion-card-title>
        {{meal?.name}}
      </ion-card-title>
      <b *ngIf="!meal?.discount">{{meal?.price | currency:'EGP':true:'1.2-2'}}</b>
      <div *ngIf="meal?.discount">
        <b>{{meal?.price | currency:'EGP':true:'1.2-2'}}</b>
        <b id="newPrice">{{meal?.price*(1-meal?.discount) | currency:'EGP':true:'1.2-2'}}</b>
      </div>
      <ion-list>
        <ion-item *ngFor="let ingredient of meal?.ingredients">
          <ion-thumbnail item-start><img src="{{ingredient?.image}}"></ion-thumbnail>
          <h2>{{ingredient?.name}}</h2>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>