<ion-header>
  <ion-navbar color="danger" text-center>
    <ion-title>{{restaurant?.name}} Menu</ion-title>
    <ion-buttons end>
      <button (click)="Reset()" clear ion-button>
        Reset
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let meal of Meals">
      <ion-thumbnail (click)="Show(meal._id)" item-left>
        <img [src]="meal?.image">
      </ion-thumbnail>
      <h2 (click)="Show(meal)">{{meal?.name}}</h2>
      <p>{{meal?.category}}</p>
      <p *ngIf="!meal?.discount">{{meal?.price | currency:'EGP':true:'1.2-2'}}</p>
      <div *ngIf="meal?.discount">
        <p id="oldPrice">{{meal?.price | currency:'EGP':true:'1.2-2'}}</p>
        <p>{{meal?.price * (1-meal?.discount) | currency:'EGP':true:'1.2-2'}}</p>
      </div>
      <button (click)="Remove(meal?._id)" icon-only id="remove" ion-button item-right>
        <ion-icon clear name="remove-circle" padding></ion-icon>
      </button>
      <!--<div [innerHTML]="countHtml"></div>-->
      <b item-right>{{ordersCount[meal?._id]}}</b>
      <button (click)="Add(meal?._id)" icon-only id="add" ion-button item-right>
        <ion-icon clear name="add-circle" padding></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-fab bottom right>
    <button (click)="Order()" [disabled]="!isOnline" color="danger" ion-fab>Order</button>
  </ion-fab>
</ion-content>