<ion-header>
    <ion-navbar color="danger" text-center>
        <ion-title>Profile</ion-title>
        <ion-buttons end>
            <button (click)="buttonToggle()" clear ion-button>{{button}}</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-avatar>
                <img src="{{account.image}}">
                <ion-label>{{account.username}}</ion-label>
            </ion-avatar>
        </ion-item>
        <ion-item>
            <ion-label floating>First Name</ion-label>
            <ion-input [(ngModel)]="account.firstName" readonly="{{visible}}" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Last Name</ion-label>
            <ion-input [(ngModel)]="account.lastName" readonly="{{visible}}" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input [(ngModel)]="account.email" readonly="true" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Street</ion-label>
            <ion-input [(ngModel)]="account.address.street" readonly="{{visible}}" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>City</ion-label>
            <ion-input [(ngModel)]="account.address.city" readonly="{{visible}}" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Country</ion-label>
            <ion-input [(ngModel)]="account.address.country" readonly="{{visible}}" type="text"></ion-input>
        </ion-item>
        <!--<ion-label floating>Phones</ion-label>
        <ion-item *ngIf="account.phones.length > 0">
            <ion-input *ngFor="let phone of account.phones" readonly="{{visible}}" type="text"></ion-input>
        </ion-item>-->
        <ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col width-50>
                        <button (click)="doFbLogin()" icon-right ion-button style="width: 100%">Connect<ion-icon name="logo-facebook"></ion-icon></button>
                    </ion-col>
                    <ion-col width-50>
                        <button (click)="doSignOut()" color="danger" ion-button style="width: 100%">Sign Out</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
    <div>
        <ion-segment [(ngModel)]="segment">
            <ion-segment-button value="favorites">
                Your Favorites
            </ion-segment-button>
            <ion-segment-button value="orders">
                Your Orders
            </ion-segment-button>
        </ion-segment>
    </div>
    <div [ngSwitch]="segment">
        <ion-list *ngSwitchCase="'favorites'">
            <page-favorites></page-favorites>
        </ion-list>
        <ion-list *ngSwitchCase="'orders'">
            <page-orders></page-orders>
        </ion-list>
    </div>
</ion-content>