page-account {
    .profile-sec{
        padding: 10px 0 5px;
        background: -moz-linear-gradient(top, #f53d3d 0%, #f53d3d 25%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f53d3d 0%,#f53d3d 25%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f53d3d 0%,#f53d3d 25%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f53d3d', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
    .profile-img{
        border-radius: 100%;
        width: 35%;
        margin: auto;
    }
}